<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Some website</title>
</head>

<body>
    {{> header}} <!-- this is a partial from header.hbs -->
    <p>Some text here</p>

  {{> footer}}
</body>

</html>