<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Some website</title>
</head>

<body>
    {{> header}}
    <!--the {{pageTitle}} is gotten for our server.js it is dynamically rendered -->
    <p>{{screemIt welcomeMessage}}</p>
    <p>Some text here</p>

   {{> footer}}
</body>

</html>